<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Каталог товаров</title>-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
<!--          crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/event/add}"-->
<!--      th:object="${product}" method="post" class="form-horizontal">-->
<!--    <div style="margin-bottom: 25px" class="input-group">-->
<!--        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--        <input th:field="*{productTitle}" placeholder="title (*)" class="form-control"/>-->
<!--    </div>-->

<!--    <div style="margin-bottom: 25px" class="input-group">-->
<!--        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--        <input th:field="*{productPrice}" placeholder="price (*)" class="form-control"/>-->
<!--    </div>-->

<!--    <div style="margin-top: 10px" class="form-group">-->
<!--        <div class="col-sm-6 controls">-->
<!--            <button type="submit" class="btn btn-primary">Add</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->