<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запись на событие</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название мероприятия</th>
        <th>Начало</th>
        <th>Конец</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.resourceTitle}"></td>
        <td th:text="${event.startTime}"></td>
        <td th:text="${event.duration}"></td>
        <td>
<!--            <a th:href="@{'/products/show/' + ${product.productId}}" class="btn btn-primary" th:text="Watch"></a>-->
<!--            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/products/delete/' + ${product.productId}}"-->
<!--               class="btn btn-danger" th:text="Delete"></a>-->
<!--            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/products/edit/' + ${product.productId}}"-->
<!--               class="btn btn-info" th:text="Edit"></a>-->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>